html, body,section{
    font-family: 'Yeseva One', cursive;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

nav{
    position: sticky;
    position: -webkit-sticky;
    height: 3em;
    background-color: linen;
    top: 0;
    font-size: 1.75em;
}
nav a{
    color: black;
    text-decoration: none;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lightcyan; */
}
#profile-picture{
    width: 35%;
    max-width: 400px;
    border-radius: 50%;
}

.project-tile{
    border-radius: 10px;
    background-color: linen;
    margin: 1em;
    width: 32%;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    align-items: center;
}
#web-projects{
    text-align: center;
    font-size: 2em;
}

@media (max-width: 1000px) {
    #projects{
        flex-direction: column;
    }
    .project-tile{
        width: 80%;
        min-height: auto;
        max-height: 400px;
    }
}

.btn{
    background-image: linear-gradient(to right, lightcoral 0%, lightcyan  51%, lightcoral  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width: auto;
    /* padding: 1em 0;
    text-decoration: none;
    border: none;
    border-radius: 10px; */
}

 .btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 #footer{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 footer h2{
     text-align: center;
 }
